<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.castlebell.lingvo.work.dao.ManagerMapper">
  <!-- 안전예방활동체크 질문 리스트 Start -->      
  <resultMap id="statMySiteInfoWorkAllMap" type="com.castlebell.lingvo.work.dao.domain.response.StatMySiteInfoWorkAllResponse">
      <result property="nWork"              column="nWork" />
      <result property="nSafeEnd"           column="nSafeEnd" />
      <result property="nWorkStopRequest"   column="nWorkStopRequest" />
  </resultMap>
  <select id="statMySiteInfoWorkAllResponse" resultMap="statMySiteInfoWorkAllMap" statementType="CALLABLE">
      { call [dbo].[statMySiteInfo](
          #{gubun},
          #{userid},
          #{grade},
          #{svgCode},
          #{constCode},
          #{siteCode},
          #{regionName},
          #{compnayName},
          #{sDate},
          #{eDate}
      )}
  </select>

  <resultMap id="statMySiteInfoRegionAllMap" type="com.castlebell.lingvo.work.dao.domain.response.StatMySiteInfoRegionAllResponse">
      <result property="siteSubAddr2"       column="siteSubAddr2" />
      <result property="nWork"              column="nWork" />
      <result property="nSafeEnd"           column="nSafeEnd" />
      <result property="nWorkStopRequest"   column="nWorkStopRequest" />
  </resultMap>
  <select id="statMySiteInfoRegionAllResponse" resultMap="statMySiteInfoRegionAllMap" statementType="CALLABLE">
      { call [dbo].[statMySiteInfo](
          #{gubun},
          #{userid},
          #{grade},
          #{svgCode},
          #{constCode},
          #{siteCode},
          #{regionName},
          #{compnayName},
          #{sDate},
          #{eDate}
    )}
  </select>
  <!-- 안전예방활동체크 질문 리스트 End -->
    <resultMap id="statMySiteInfoRegionSitellMap" type="com.castlebell.lingvo.work.dao.domain.response.StatMySiteInfoRegionSiteResponse">
      <result property="siteSubAddr2"       column="siteSubAddr2" />
      <result property="nWork"              column="nWork" />
      <result property="nSafeEnd"           column="nSafeEnd" />
      <result property="nWorkStopRequest"   column="nWorkStopRequest" />
  </resultMap>
  <select id="statMySiteInfoRegionSiteResponse" resultMap="statMySiteInfoRegionSitellMap" statementType="CALLABLE">
      { call [dbo].[statMySiteInfo](
          #{gubun},
          #{userid},
          #{grade},
          #{svgCode},
          #{constCode},
          #{siteCode},
          #{regionName},
          #{compnayName},
          #{sDate},
          #{eDate}
    )}
  </select>

  <!-- 안전예방활동체크 질문 리스트 End -->
    <resultMap id="statMySiteInfoRegionCompanyResponseMap" type="com.castlebell.lingvo.work.dao.domain.response.StatMySiteInfoRegionCompanyResponse">
        <result property="siteCode"           column="siteCode" />
        <result property="companyName"        column="companyName" />
        <result property="nWork"              column="nWork" />
        <result property="nSafeEnd"           column="nSafeEnd" />
        <result property="nWorkStopRequest"   column="nWorkStopRequest" />
    </resultMap>
  <select id="statMySiteInfoRegionCompanyResponse" resultMap="statMySiteInfoRegionCompanyResponseMap" statementType="CALLABLE">
      { call [dbo].[statMySiteInfo](
          #{gubun},
          #{userid},
          #{grade},
          #{svgCode},
          #{constCode},
          #{siteCode},
          #{regionName},
          #{compnayName},
          #{sDate},
          #{eDate}
    )}
  </select>

  <!-- 안전예방활동체크 질문 리스트 End -->
  <resultMap id="statMySiteInfoWorkStopResponseMap" type="com.castlebell.lingvo.work.dao.domain.response.StatMySiteInfoWorkStopResponse">
      <result property="name"      column="name" />
      <result property="reqReason" column="reqReason" />
  </resultMap>
  <select id="statMySiteInfoWorkStopResponse" resultMap="statMySiteInfoWorkStopResponseMap" statementType="CALLABLE">
      { call [dbo].[statMySiteInfo](
          #{gubun},
          #{userid},
          #{grade},
          #{svgCode},
          #{constCode},
          #{siteCode},
          #{regionName},
          #{compnayName},
          #{sDate},
          #{eDate}
    )}
  </select>

  <select id="illegalInfoModify" statementType="CALLABLE">
    { #{RETVAL, mode=OUT, jdbcType=INTEGER} = call [dbo].[illegalInfoModify](#{gubun}, #{userid}, #{siteCode}, #{illegalClass},  
          #{illegalGubun},  #{illegalUserid},  #{location},  #{content},  #{imgPaths},  #{state},  #{ip},  #{ilgSeq},  #{errMsg, mode=OUT, jdbcType=VARCHAR} ) 
    }
  </select>

    <!-- 안전예방활동체크 질문 리스트 End -->
  <resultMap id="statMySiteInfoSiteWorkAllCompResponseMap" type="com.castlebell.lingvo.work.dao.domain.response.StatMySiteInfoSiteWorkAllCompResponse">
      <result property="userid"      column="userid" />
      <result property="name" column="name" />      
      <result property="hpno"      column="hpno" />     
      <result property="nSafeEnd" column="nSafeEnd" />
      <result property="nWorkStopRequest" column="nWorkStopRequest" />
  </resultMap>
  <select id="statMySiteInfoSiteWorkAllCompResponse" resultMap="statMySiteInfoSiteWorkAllCompResponseMap" statementType="CALLABLE">
      { call [dbo].[illegalInfoModify](
          #{gubun},
          #{userid},
          #{siteCode},
          #{illegalClass},
          #{illegalGubun},
          #{illegalUserid},
          #{location},
          #{content},
          #{imgPaths},
          #{ip},
          #{ilgSeq}
    )}
  </select>

  <!-- 안전예방활동체크 질문 리스트 End -->
  <resultMap id="statMySiteInfoUserWorkStopResponseMap" type="com.castlebell.lingvo.work.dao.domain.response.StatMySiteInfoUserWorkStopResponse">
      <result property="regdate"      column="regdate" />
      <result property="siteName" column="siteName" />      
      <result property="name"      column="name" />     
      <result property="reqReason" column="reqReason" />
  </resultMap>
  <select id="statMySiteInfoUserWorkStopResponse" resultMap="statMySiteInfoUserWorkStopResponseMap" statementType="CALLABLE">
      { call [dbo].[statMySiteInfo](
          #{gubun},
          #{userid},
          #{grade},
          #{svgCode},
          #{constCode},
          #{siteCode},
          #{regionName},
          #{compnayName},
          #{sDate},
          #{eDate},
          #{workUserid}
    )}
  </select>

  
</mapper>
